@font-face {
  font-family: 'Space Grotesk';
  src: url('../../assets/fonts/SpaceGrotesk-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Gasoek One';
  src: url('../../assets/fonts/GasoekOne-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
